# NFL Players by Draft Position

In [1]:
import pandas as pd
import requests
from sqlalchemy import create_engine

In [2]:
url = 'http://www.drafthistory.com/index.php/years/'

In [3]:
rounds = []
years = list(range(1998,2020))

for year in years:
    request = requests.get(f'{url}{year}')
    draft = pd.read_html(request.text, header=1)
    draft = draft[0]
    rounds.append(draft)

In [4]:
draft1998 = rounds[0]
draft1999 = rounds[1]
draft2000 = rounds[2] 
draft2001 = rounds[3] 
draft2002 = rounds[4]
draft2003 = rounds[5]
draft2004 = rounds[6]
draft2005 = rounds[7]
draft2006 = rounds[8]
draft2007 = rounds[9]
draft2008 = rounds[10] 
draft2009 = rounds[11] 
draft2010 = rounds[12]
draft2011 = rounds[13]
draft2012 = rounds[14]
draft2013 = rounds[15]
draft2014 = rounds[16]
draft2015 = rounds[17]
draft2016 = rounds[18]
draft2017 = rounds[19]
draft2018 = rounds[20]
draft2019 = rounds[21]

In [5]:
draft1998['Year'] = '1998'
draft1999['Year'] = '1999'
draft2000['Year'] = '2000' 
draft2001['Year'] = '2001' 
draft2002['Year'] = '2002'
draft2003['Year'] = '2003'
draft2004['Year'] = '2004'
draft2005['Year'] = '2005'
draft2006['Year'] = '2006'
draft2007['Year'] = '2007'
draft2008['Year'] = '2008'
draft2009['Year'] = '2009'
draft2010['Year'] = '2010'
draft2011['Year'] = '2011'
draft2012['Year'] = '2012'
draft2013['Year'] = '2013'
draft2014['Year'] = '2014'
draft2015['Year'] = '2015'
draft2016['Year'] = '2016'
draft2017['Year'] = '2017'
draft2018['Year'] = '2018'
draft2019['Year'] = '2019'

In [6]:
all_drafts = [draft1998, draft1999, draft2000, draft2001, draft2002, draft2003, draft2004, draft2005, draft2006, 
              draft2007, draft2008, draft2009, draft2010, draft2011, draft2012, draft2013, draft2014, draft2015, 
              draft2016, draft2017, draft2018, draft2019]

all_drafts = pd.concat(all_drafts).reset_index(drop=True)

all_drafts.head(50)

,Round,Pick,Player,Name,Team,Position,College,Year
0,1.0,1,1,Peyton Manning,Colts,QB,Tennessee,1998
1,NaN,2,2,Ryan Leaf,Chargers,QB,Washington State,1998
2,NaN,3,3,Andre Wadsworth,Cardinals,DE,Florida State,1998
3,NaN,4,4,Charles Woodson,Raiders,DB,Michigan,1998
4,NaN,5,5,Curtis Enis,Bears,RB,Penn State,1998
5,NaN,6,6,Grant Wistrom,Rams,DE,Nebraska,1998
6,NaN,7,7,Kyle Turley,Saints,T,San Diego State,1998
7,NaN,8,8,Greg Ellis,Cowboys,DE,North Carolina,1998
8,NaN,9,9,Fred Taylor,Jaguars,RB,Florida,1998
9,NaN,10,10,Duane Starks,Ravens,DB,Miami (FL),1998
10,NaN,11,11,Tra Thomas,Eagles,T,Florida State,1998
11,NaN,12,12,Keith Brooking,Falcons,LB,Georgia Tech,1998
12,NaN,13,13,Takeo Spikes,Bengals,LB,Auburn,1998
13,NaN,14,14,Jason Peter,Panthers,DT,Nebraska,1998
14,NaN,15,15,Anthony Simmons,Seahawks,LB,Clemson,1998
15,NaN,16,16,Kevin Dyson,Oilers,WR,Utah,1998
16,NaN,17,17,Brian Simmons,Bengals,LB,North Carolina,1998
17,NaN,18,18,Robert Edwards,Patriots,RB,Georgia,1998
18,NaN,19,19,Vonnie Holliday,Packers,DT,North Carolina,1998
19,NaN,20,20,Terry Fair,Lions,DB,Tennessee,1998
20,NaN,21,21,Randy Moss,Vikings,WR,Marshall,1998
21,NaN,22,22,Tebucky Jones,Patriots,DB,Syracuse,1998
22,NaN,23,23,Mo Collins,Raiders,T,Florida,1998
23,NaN,24,24,Shaun Williams,Giants,DB,UCLA,1998
24,NaN,25,25,Donovin Darius,Jaguars,DB,Syracuse,1998
25,NaN,26,26,Alan Faneca,Steelers,G,Louisiana State,1998
26,NaN,27,27,Victor Riley,Chiefs,T,Auburn,1998
27,NaN,28,28,R.W. McQuarters,49ers,DB,Oklahoma State,1998
28,NaN,29,29,John Avery,Dolphins,RB,Mississippi,1998
29,NaN,30,30,Marcus Nash,Broncos,WR,Tennessee,1998
30,2.0,1,31,Leon Bender,Raiders,DT,Washington State,1998
31,NaN,2,32,Jerome Pathon,Colts,WR,Washington,1998
32,NaN,3,33,Corey Chavous,Cardinals,DB,Vanderbilt,1998
33,NaN,4,34,Jacquez Green,Buccaneers,WR,Florida,1998
34,NaN,5,35,Tony Parrish,Bears,DB,Washington,1998
35,NaN,6,36,Anthony Clement,Cardinals,T,Southwestern Louisiana,1998
36,NaN,7,37,Robert Holcombe,Rams,RB,Illinois,1998
37,NaN,8,38,Flozell Adams,Cowboys,T,Michigan State,1998
38,NaN,9,39,Sam Cowart,Bills,LB,Florida State,1998
39,NaN,10,40,Cameron Cleeland,Saints,TE,Washington,1998
40,NaN,11,41,Jeremy Staat,Steelers,DE,Arizona State,1998
41,NaN,12,42,Patrick Johnson,Ravens,WR,Oregon,1998
42,NaN,13,43,Artrell Hawkins,Bengals,DB,Cincinnati,1998
43,NaN,14,44,Patrick Surtain,Dolphins,DB,Southern Mississippi,1998
44,NaN,15,45,Brian Kelly,Buccaneers,DB,USC,1998
45,NaN,16,46,Samari Rolle,Oilers,DB,Florida State,1998
46,NaN,17,47,Todd Weiner,Seahawks,T,Kansas State,1998
47,NaN,18,48,Stephen Alexander,Redskins,TE,Oklahoma,1998
48,NaN,19,49,Kenny Mixon,Dolphins,DE,Louisiana State,1998
49,NaN,20,50,Germane Crowell,Lions,WR,Virginia,1998

In [15]:
all_drafts['Round'] = all_drafts['Round'].fillna(method='ffill')

all_drafts = all_drafts.rename(columns={"Pick": "Round_Pick", "Player": "Overall_Pick"})

all_drafts['Name'].value_counts()

Brian Allen             4
Brandon Williams        4
Mike Williams           4
Steve Smith             3
Chris Jones             3
                       ..
Crezdon Butler          1
Nathan Peterman         1
Eric Hagg               1
Ras-I Dowling           1
Kabeer Gbaja-Biamila    1
Name: Name, Length: 5508, dtype: int64

In [13]:
connection_string = "postgres:R4$hcr4ft13@localhost:5432/NFL_Draft"
engine = create_engine(f'postgresql://{connection_string}')

engine.table_names()

['drafts']

In [14]:
all_drafts.to_sql(name='drafts', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "drafts_pkey"
DETAIL:  Key ("Name")=(Chris Akins) already exists.

[SQL: INSERT INTO drafts ("Round", "Round_Pick", "Overall_Pick", "Name", "Team", "Position", "College", "Year") VALUES (%(Round)s, %(Round_Pick)s, %(Overall_Pick)s, %(Name)s, %(Team)s, %(Position)s, %(College)s, %(Year)s)]
[parameters: ({'Round': 1.0, 'Round_Pick': 1, 'Overall_Pick': 1, 'Name': 'Peyton Manning', 'Team': 'Colts', 'Position': 'QB', 'College': 'Tennessee', 'Year': '1998'}, {'Round': 1.0, 'Round_Pick': 2, 'Overall_Pick': 2, 'Name': 'Ryan Leaf', 'Team': 'Chargers', 'Position': 'QB', 'College': 'Washington State', 'Year': '1998'}, {'Round': 1.0, 'Round_Pick': 3, 'Overall_Pick': 3, 'Name': 'Andre Wadsworth', 'Team': 'Cardinals', 'Position': 'DE', 'College': 'Florida State', 'Year': '1998'}, {'Round': 1.0, 'Round_Pick': 4, 'Overall_Pick': 4, 'Name': 'Charles Woodson', 'Team': 'Raiders', 'Position': 'DB', 'College': 'Michigan', 'Year': '1998'}, {'Round': 1.0, 'Round_Pick': 5, 'Overall_Pick': 5, 'Name': 'Curtis Enis', 'Team': 'Bears', 'Position': 'RB', 'College': 'Penn State', 'Year': '1998'}, {'Round': 1.0, 'Round_Pick': 6, 'Overall_Pick': 6, 'Name': 'Grant Wistrom', 'Team': 'Rams', 'Position': 'DE', 'College': 'Nebraska', 'Year': '1998'}, {'Round': 1.0, 'Round_Pick': 7, 'Overall_Pick': 7, 'Name': 'Kyle Turley', 'Team': 'Saints', 'Position': 'T', 'College': 'San Diego State', 'Year': '1998'}, {'Round': 1.0, 'Round_Pick': 8, 'Overall_Pick': 8, 'Name': 'Greg Ellis', 'Team': 'Cowboys', 'Position': 'DE', 'College': 'North Carolina', 'Year': '1998'}  ... displaying 10 of 5589 total bound parameter sets ...  {'Round': 7.0, 'Round_Pick': 39, 'Overall_Pick': 253, 'Name': 'Jordan Brailford', 'Team': 'Redskins', 'Position': 'LB', 'College': 'Oklahoma State', 'Year': '2019'}, {'Round': 7.0, 'Round_Pick': 40, 'Overall_Pick': 254, 'Name': 'Caleb Wilson', 'Team': 'Cardinals', 'Position': 'TE', 'College': 'UCLA', 'Year': '2019'})]
(Background on this error at: http://sqlalche.me/e/gkpj)